.svn
*.exe
*.o
autom4te.cache
original-matlab/segment/codegen
out-*.pbm
out-*.ppm
out-*.raw
*.m~
*.out
*.profile
*.trc
Profiler
src/segment/test/out-*-stage-*.pgm
src/segment/test/Stages
*.ptx
*.cubin
*.ii
*.i
*.cu.cpp
*.fatbin
*.fatbin.c
*.cudafe?.*
*.hash
