.svn
*.exe
*.so
*.o
autom4te.cache
original-matlab/segment/codegen
src/segment/test/out-*.*
*.m~
*.out
*.profile
*.trc
Profiler
src/segment/test/Segmented
src/segment/test/Stages
*.ptx
*.cubin
*.ii
*.i
*.cu.cpp
*.fatbin
*.fatbin.c
*.cudafe?.*
*.hash
cuda_profile_*.log
